doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel='shortcut icon', href='#{staticPublic}/images/favicon.ico')
    link(rel="stylesheet" href="#{staticPublic}/css/bootstrap.css")
    link(rel='stylesheet', href='#{staticPublic}/css/swiper.min.css') 
    link(rel='stylesheet' href='#{staticThis}/css/layout1.css') 
    link(rel='stylesheet', href='#{staticThis}/css/#{mainsheet}')
    link(rel='stylesheet', href='../public/css/#{mainsheet}') 
    link(rel='stylesheet' href='../public/css/layout1.css') 
    title #{data.title}
    script(type='text/javascript', src='#{staticPublic}/js/jquery.js')
    script(type='text/javascript', src='#{staticPublic}/js/socket.io.js')
    script(type='text/javascript', src='#{staticPublic}/js/swiper.js')
    //- script(type='text/javascript', src='#{staticThis}/js/layout1.js')
    //- script(type='text/javascript', src='../public/js/layout1.js')
    style.
      #detail-box{
      display:none;
      position: absolute;
      width:280px;
      z-index: 1001;
      background: url(#{staticThis}/img/alert/k2.png);
      background-size: cover;
      height:134px;
      }
      .fb-btn{
      position:absolute;
      top:1%;
      height:8%;
      width:30%;
      right:2%;
      }
  body
    .wrap
      img#bg(src="#{data.bg}")
      a.fb-btn(href='#{data.fb}')
      a.show-dialog.dialog-style
      .btn
        a.guide(href='#{data.guide}')
        a.btn-dn(href='#{data.ios}')
        a.btn-dn(href='#{data.android}')
      div
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              img.img-area(src='#{data.lunbo[0]}')
            .swiper-slide
              img.img-area(src='#{data.lunbo[1]}')
            .swiper-slide
              img.img-area(src='#{data.lunbo[2]}')
            .swiper-slide
              img.img-area(src='#{data.lunbo[3]}')
            .swiper-slide
              img.img-area(src='#{data.lunbo[4]}')
          // Add Pagination
          .swiper-pagination
          // Add Arrows
          .swiper-button-next
          .swiper-button-prev
    #detail-box.alert-img
      p.code-style
    script(type='text/javascript').
      var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      paginationClickable: true,
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: 2500,
      autoplayDisableOnInteraction: false
      });
      var socket = io();
      socket.on('#{data.send}', function (data) {
      $(".code-style").text(data);
      if(!data){
      $(".code-style").html("<span class='content-admin'>兌換碼用完，請聯繫管理員</span>");
      $(".code-style").attr("class","code-style2");
      }
      console.log(data);
      });
      $(".show-dialog").on("click",function(){
      alertStyle();
      addBox();
      cancel();
      })
      function alertStyle(){
      var pHeight = document.documentElement.scrollHeight;
      var pWidth = document.documentElement.scrollWidth;
      var shadow = document.createElement("div");
      shadow.style.height = pHeight + "px";
      shadow.style.width = pWidth + "px";
      shadow.id = "shadow-box";
      document.body.appendChild(shadow);
      }
      function addBox(){
      var pWidth = document.documentElement.scrollWidth;
      var detailBox = document.getElementById("detail-box");
      $('#detail-box').css("display", "block");
      var elementLeft=(pWidth - detailBox.offsetWidth) / 2;
      $("#detail-box").css("top","30%")
      $("#detail-box").css("left",elementLeft);
      }
      function cancel(){
      var shadow=document.getElementById("shadow-box");
      $("#shadow-box").on("click",function(){
      $('#detail-box').css("display","none");
      document.body.removeChild(shadow);
      socket.emit('#{data.delete}');
      })
      }  
      
      //- (function(){
      //- var n;
      //- var bg=document.getElementById("bg");
      //- if(window.innerWidth>=992){
      //- n=window.innerHeight/420;
      //- }
      //- else{
      //- n=window.innerHeight/window.innerWidth;
      //- }
      //- if(n<=1.34){
      //- bg.setAttribute("src","#{static}/morefun/images/background/17pk-768-890.jpg");
      //- }
      //- else if(n<=1.5){
      //- bg.setAttribute("src","#{static}/morefun/images/background/17pk-640-835.jpg");
      //- }
      //- else{
      //- bg.setAttribute("src","#{static}/morefun/images/background/17pk-640-988.jpg");
      //- }
      //- }());


      

