doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 寶貝大作戰--繁體
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='#{staticPublic}/images/favicon.ico')
    link(rel="stylesheet" href="#{staticPublic}/css/bootstrap.css")
    link(rel='stylesheet', href='#{staticPublic}/css/swiper.min.css')
    script(type='text/javascript', src='#{staticPublic}/js/jquery.js')
    script(type='text/javascript', src='#{staticPublic}/js/socket.io.js')
    script(type='text/javascript', src='#{staticPublic}/js/swiper.js')
    script(type='text/javascript', src='public/js/layout1.js')
    style.
      *{
      padding:0px;
      margin:0px;
      }
      html, body {
      position: relative;
      height: 100%;
      }
      body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
      }
      .wrap{
      position: relative;
      }
      .swiper-container {
      width: 100%;
      height: 100%;
      }
      .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      }
      #bg{
      display: block;
      width:100%;
      height:auto;
      }
      .img-area{
      display: block;
      width:100%;
      }
      .btn1{
      position: absolute;
      top: 30%;
      height: 20%;
      display: block;
      width: 100%;
      }
      .btn2{
      position: absolute;
      top: 60%;
      height: 20%;
      display: block;
      width: 100%;
      }
      .guide{
      position: absolute;
      top: 49%;
      height: 4%;
      display: block;
      width: 100%;
      color:#ea9423;
      font-size: 15px;
      font-weight: bold;
      text-align:center;
      }
      .add-bg{
      background-color: #7e8abb;
      }
      .btn-area{
      position: absolute;
      bottom:0;
      height: 8%;
      display: block;
      width: 100%;
      padding:0px;
      }
      .btn-area>a{
      width: 50%;
      float: left;
      height: 100%;
      }
      @media screen and (min-width: 922px){
      .wrap{
      /* position:absolute;*/
      width: 420px;
      margin: 20px auto;
      /* left:35%;*/
      }
      }
  body
    .wrap
      img#bg(src='#{static}/morefun/images/background/pokemontw.png')
      .btn-area
        a.btn-dn(href='http://m.onelink.me/ce2ffe8c')
        a.btn-dn(href='#{static}/public/apk/2/tw/pokemontw.apk')
      a.btn1(href='#{static}/public/apk/2/tw/pokemontw.apk')
      a.btn2(href='#{static}/public/apk/2/tw/pokemontw.apk')  
      a.guide(href='#{rootPath}/guide')
      div
        .swiper-container.add-bg
          .swiper-wrapper
            .swiper-slide
              img.img-area(src='#{static}/morefun/images/lunbo/pokemontw1.png')
            .swiper-slide
              img.img-area(src='#{static}/morefun/images/lunbo/pokemontw2.png')
            .swiper-slide
              img.img-area(src='#{static}/morefun/images/lunbo/pokemontw3.png')
            .swiper-slide
              img.img-area(src='#{static}/morefun/images/lunbo/pokemontw4.png')
            .swiper-slide
              img.img-area(src='#{static}/morefun/images/lunbo/pokemontw5.png')
            .swiper-slide
              img.img-area(src='#{static}/morefun/images/lunbo/pokemontw6.png')
            .swiper-slide
              img.img-area(src='#{static}/morefun/images/lunbo/pokemontw7.png')
            .swiper-slide
              img.img-area(src='#{static}/morefun/images/lunbo/pokemontw8.png')
          // Add Pagination
          .swiper-pagination
          // Add Arrows
          .swiper-button-next
          .swiper-button-prev
      div
        img#bg(src='#{static}/morefun/images/pokemontwbutton.png')
    script.
      //- (function(i, s, o, g, r, a, m) {
      //- i['GoogleAnalyticsObject'] = r;
      //- i[r] = i[r] || function() {
      //- (i[r].q = i[r].q || []).push(arguments)
      //- }, i[r].l = 1 * new Date();
      //- a = s.createElement(o),
      //- m = s.getElementsByTagName(o)[0];
      //- a.async = 1;
      //- a.src = g;
      //- m.parentNode.insertBefore(a, m)
      //- })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      //- ga('create', 'UA-71956769-8', 'auto');
      //- ga('send', 'pageview');
      var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      paginationClickable: true,
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: 2500,
      autoplayDisableOnInteraction: false
      });
