doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 寶貝大作戰--繁體
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='#{staticPublic}/images/favicon.ico')
    link(rel="stylesheet" href="#{staticPublic}/css/bootstrap.css")
    link(rel='stylesheet', href='#{staticPublic}/css/swiper.min.css')
    script(type='text/javascript', src='#{staticPublic}/js/jquery.js')
    script(type='text/javascript', src='#{staticPublic}/js/socket.io.js')
    script(type='text/javascript', src='#{staticPublic}/js/swiper.js')
    //- script(type='text/javascript', src='public/js/layout1.js')
    style.
      #shadow-box {
      background-color: #ccc;
      opacity: 0.5;
      filter: alpha(opacity=50);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1000;
      }
      .code-style{
      border:2px solid white;
      width:140px;
      padding:6px;
      margin: auto;
      margin-top: 45px;
      color:white;
      font-family: Microsoft YaHei;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      }
      .code-style2{
      border:2px solid white;
      width:180px;
      padding:0px;
      margin: auto;
      margin-top: 45px;
      color:white;
      font-family: Microsoft YaHei;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      }
      .copy-p{
      text-align: center;
      color: #d9534f;
      margin-top: 5px;
      }
      .content-admin{
      font-size: 8px;
      }
      #detail-box{
      display:none;
      position: absolute;
      width:280px;
      z-index: 1001;
      background: url(public/img/k1.png);
      background-size: cover;
      height:134px;
      }
      *{
      padding:0px;
      margin:0px;
      }
      html, body {
      position: relative;
      height: 100%;
      }
      body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
      }
      .wrap{
      position: relative;
      }
      .swiper-container {
      width: 100%;
      height: 100%;
      }
      .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      }
      #bg{
      display: block;
      width:100%;
      height:auto;
      }
      .img-area{
      display: block;
      width:100%;
      }
      .btn-area1{
      position: absolute;
      top: 30%;
      height: 20%;
      width:100%;
      }
      .btn-area1>a{
      width: 50%;
      height: 90%;
      float:left;
      }
      .btn2{
      position: absolute;
      top: 60%;
      height: 20%;
      display: block;
      width: 100%;
      }
      .guide{
      position: absolute;
      top: 49%;
      height: 4%;
      display: block;
      width: 100%;
      color:#ea9423;
      font-size: 15px;
      font-weight: bold;
      text-align:center;
      }
      .add-bg{
      background-color: #7e8abb;
      }
      .btn-area{
      position: absolute;
      bottom:0;
      height: 8%;
      display: block;
      width: 100%;
      padding:0px;
      }
      .btn-area>a{
      width: 50%;
      float: left;
      height: 100%;
      }
      @media screen and (min-width: 922px){
      .wrap{
      /* position:absolute;*/
      width: 420px;
      margin: 20px auto;
      /* left:35%;*/
      }
      }
  body
    .wrap
      img#bg(src='public/img/lunbo/pokemontw.png')
      .btn-area
        a.btn-dn(href='http://m.onelink.me/ce2ffe8c')
        a.btn-dn(href='#{staticThis}/public/apk/2/tw/pokemontw.apk')
      .btn-area1
        a.btn1(href='#{staticThis}/apk/2/tw/pokemontw.apk')
        a.btn1.show-dialog.dialog-style
      a.btn2(href='#{staticThis}/apk/2/tw/pokemontw.apk')  
      a.guide(href='http://app.gamemorefun.com/guide')
      div
        .swiper-container.add-bg
          .swiper-wrapper
            .swiper-slide
              img.img-area(src='#{staticMorefun}/images/lunbo/pokemontw1.png')
            .swiper-slide
              img.img-area(src='#{staticMorefun}/images/lunbo/pokemontw2.png')
            .swiper-slide
              img.img-area(src='#{staticMorefun}/images/lunbo/pokemontw3.png')
            .swiper-slide
              img.img-area(src='#{staticMorefun}/images/lunbo/pokemontw4.png')
            .swiper-slide
              img.img-area(src='#{staticMorefun}/images/lunbo/pokemontw5.png')
            .swiper-slide
              img.img-area(src='#{staticMorefun}/images/lunbo/pokemontw6.png')
            .swiper-slide
              img.img-area(src='#{staticMorefun}/images/lunbo/pokemontw7.png')
            .swiper-slide
              img.img-area(src='#{staticMorefun}/images/lunbo/pokemontw8.png')
          // Add Pagination
          .swiper-pagination
          // Add Arrows
          .swiper-button-next
          .swiper-button-prev
      div
        img#bg(src='#{staticMorefun}/images/pokemontwbutton.png')
    #detail-box.alert-img
      p.code-style
    script(type='text/javascript').
      var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      paginationClickable: true,
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: 2500,
      autoplayDisableOnInteraction: false
      });
      var socket = io();
      socket.on('sendpokemontw1', function (data) {
      $(".code-style").text(data);
      if(!data){
      $(".code-style").html("<span class='content-admin'>兌換碼用完，請聯繫管理員</span>");
      $(".code-style").attr("class","code-style2");
      }
      console.log(data);
      });
      $(".show-dialog").on("click",function(){
      alertStyle();
      addBox();
      cancel();
      })
      function alertStyle(){
      var pHeight = document.documentElement.scrollHeight;
      var pWidth = document.documentElement.scrollWidth;
      var shadow = document.createElement("div");
      shadow.style.height = pHeight + "px";
      shadow.style.width = pWidth + "px";
      shadow.id = "shadow-box";
      document.body.appendChild(shadow);
      }
      function addBox(){
      var pWidth = document.documentElement.scrollWidth;
      var detailBox = document.getElementById("detail-box");
      $('#detail-box').css("display", "block");
      var elementLeft=(pWidth - detailBox.offsetWidth) / 2;
      $("#detail-box").css("top","30%")
      $("#detail-box").css("left",elementLeft);
      }
      function cancel(){
      var shadow=document.getElementById("shadow-box");
      $("#shadow-box").on("click",function(){
      $('#detail-box').css("display","none");
      document.body.removeChild(shadow);
      socket.emit('deletepokemontw1');
      })
      }
    //- script.
    //-   //- (function(i, s, o, g, r, a, m) {
    //-   //- i['GoogleAnalyticsObject'] = r;
    //-   //- i[r] = i[r] || function() {
    //-   //- (i[r].q = i[r].q || []).push(arguments)
    //-   //- }, i[r].l = 1 * new Date();
    //-   //- a = s.createElement(o),
    //-   //- m = s.getElementsByTagName(o)[0];
    //-   //- a.async = 1;
    //-   //- a.src = g;
    //-   //- m.parentNode.insertBefore(a, m)
    //-   //- })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    //-   //- ga('create', 'UA-71956769-8', 'auto');
    //-   //- ga('send', 'pageview');
    //-   var swiper = new Swiper('.swiper-container', {
    //-   pagination: '.swiper-pagination',
    //-   nextButton: '.swiper-button-next',
    //-   prevButton: '.swiper-button-prev',
    //-   paginationClickable: true,
    //-   spaceBetween: 30,
    //-   centeredSlides: true,
    //-   autoplay: 2500,
    //-   autoplayDisableOnInteraction: false
    //-   });
